CGProject/CGProject.v12.suo
CGProject/CGProject/bin/Debug/CGProject.exe
CGProject/CGProject/bin/Debug/CGProject.exe.config
CGProject/CGProject/bin/Debug/CGProject.pdb
CGProject/CGProject/bin/Debug/CGProject.vshost.exe
CGProject/CGProject/bin/Debug/CGProject.vshost.exe.config
CGProject/CGProject/bin/Debug/CGProject.vshost.exe.manifest
CGProject/CGProject/Images/Thumbs.db
CGProject/CGProject/obj/Debug/CGProject.csproj.FileListAbsolute.txt
CGProject/CGProject/obj/Debug/CGProject.csproj.GenerateResource.Cache
CGProject/CGProject/obj/Debug/CGProject.csprojResolveAssemblyReference.cache
CGProject/CGProject/obj/Debug/CGProject.exe
CGProject/CGProject/obj/Debug/CGProject.LoginForm.resources
CGProject/CGProject/obj/Debug/CGProject.pdb
CGProject/CGProject/obj/Debug/CGProject.Properties.Resources.resources
CGProject/CGProject/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CGProject/CGProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CGProject/CGProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CGProject/CGProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CGProject/CGProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
